/* CSS Document */
#mainmenu{
	border-color: #c3d9ff #c3d9ff #c3d9ff;
	border-style: solid solid none;
	border-width: 1px 1px 0;
    bottom: 0px;
	font-family: "simsun";
	font-size: 12px;
	height: 35px;
	position: fixed;
	right: 0px;
	z-index: 90000;
	background:url(../img/toolbar_bg.png);
	background-repeat-x: repeat;
	height:35px;
	width: 100%;	
}
#login{
	left:10px;
	position:relative;
	width:30px;
}
#aboutsys{
	overflow:hidden;
	visibility: visible;
	position:relative;
	float:right;
	right:10px;
	top:-10px;
	width:60px;
}

/*
关于系统的显示div
**/
#sysmessage{
	position:absolute;
	width:600px;
	height:270px;
	z-index:50;
	background-image:url(../img/bg_new.png);
}
#syscontent{
	position:relative;
	background:white;
	left:10px;
	right:10px;
	top:10px;
	bottom:10px;
	width:580px;
	height:230px;
	background:white;
	z-index:100;
}
#systitle{
    position:relative;
	width:580px;
	height:20px;
	left:10px;
	right:10px;
	top:10px;
	background:#e7eef8;
}
#systitle img{
	float:right;
	cursor:pointer;
}

#copyright{
	position:relative;
	left:530px;
	top:-30px;
	width:250px;
	}
	
	/*
	menu显示位置由js控制
	**/
#menu{
	position:absolute;
	width:600px;
	height:270px;
	background-image:url(../img/bg_new.png);
	background-color:#ffffff;
}
#menutitle{
    position:relative;
	width:580px;
	height:20px;
	left:10px;
	right:10px;
	top:10px;
	background:#e7eef8;
}
#menutitle img{
	float:right;
	cursor:pointer;
}
#tip{
	position:relative;
	left:100px;
	top:-14px;
	width:80px;
}
#rlogin{
	position:absolute;
	width:380px;
	height:200px;
	z-index:102;
	background-color:#ffffff;
}
#zhezhao {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	filter: alpha(opacity=50);
	opacity: 0.5;
	z-index:100;
	display:none;
	background-color: #999999;
}
.tts{
	left:0px;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
body{
	background-image:url(../img/chrome-bird.jpg);
	background-position:480px 160px;
	background-repeat: no-repeat;
}
