@charset "utf-8";
/* CSS Document */
#login {
	position:absolute;
	z-index:1;
	left: 385px;
	top: 153px;
}
#adduser {
	position:absolute;
	left:400px;
	top:100px;
	z-index:2;
	width:501px;
	height:300px;
	background-repeat:no-repeat;
}
#apDiv2 {
	position:absolute;
	left:428px;
	top:223px;
	z-index:3;
}
.STYLE3 {
	color: #FF0000;
	font-size: 18px;
}
.username{
	border: 1px solid red;
	background-image: url(../img/login.gif);
	background-repeat: repeat-x;
	background-position:bottom;
}
#adduser table{
	width:500px;
	height:300px;	
	border:1 solid #c3d9ff;
	align:center;
}
#showdiv{
	left:600px;
	width:auto;
	height:auto;
}
a:link {
	text-decoration: none;
	color: #FF0000;
}
a:visited {
	text-decoration: none;
	color: #0000FF;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
	color: #FFFF00;
}
#mainmenu{
	width:400px;
	height:400px;	
	position:absolute;
}
hr{
border:1px  dashed red;
}
#lightbox{
	width:100%;
	height:100%;
	position:fixed;
	line-height:0;
	z-index:100;
	filter:alpha(opacity=50);
	left:0px;
	top:0px;
	opacity:0.5;
	background:black;
}
/*
管理用户时css控制
**/
#edituser{
	width:400px;
	height:300px;
	background:white;
	position:absolute;
	border:1px solid #e7eef8;
	z-index:200;
}
#title{
	width:100%;
	height:20px;
	background:#e7eef8;
	position:relative;
	border:0px;
}
#title img{
	float:right;
	cursor:pointer;
}
#contentt{
	width:100%;
	height:280px;
}

/*
产品管理的css控制
**/
#editwuliao{
	width:450px;
	height:370px;
	background:white;
	position:absolute;
	border:1px solid #e7eef8;
	z-index:200;
}
#editwuliaotitle{
	width:100%;
	height:20px;
	top:0px;
	background:#e7eef8;
	position:relative;
	border:0px;
}
#editwuliaotitle img{
	float:right;
	cursor:pointer;
}
#editwuliaocontent{
	width:100%;
	height:350px;
}
h3 img{
	cursor:pointer;
}

/*
导出pdf文件时的css
**/
#reporttip{
	background:#e7eef8;
	position:absolute;
	width:600px;
	height:270px;
	z-index:100;
	background-image:url(../img/bg_new.png);
}
#reporttipcontent{
	background:#e7eef8;
	position:relative;
	top:20px;
	left:20px;
	right:20px;
	width:500px;
	height:120px;
}
#reportwait{
	background:#e7eef8;
	position:relative;
	top:20px;
	left:280px;
	right:20px;
	width:30px;
	height:30px;
}

.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 16px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   cursor:pointer;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
